@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');
/*PARA CONTEUDO E DISPLAY: font-family: 'Mulish', sans-serif;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    background: #042e3d;
    overflow-x: hidden;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #1a96c1;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1000;
}

.menu.active {
    width: 300px;
}

.menu:hover {
    width: 300px;
}

.menu ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.menu ul li:hover {
    background: #042e3d;
}

.menu ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
}

.menu ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.menu ul li a .icone img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.menu ul li a .texto {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/* --------------------- BACKGROUNDS --------------------- */

.blue-bg {
    background: #93c8d0;
}

.yellow-bg {
    background: #f4dc26;
}

.red-bg {
    background: #fe9441;
}

.green-bg {
    background: #cef79f;
}

.brown-bg {
    background: #cfba92;
}

/* --------------------- PARTE DO TOGGLE --------------------- */
.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #1a96c1;
    cursor: pointer;
    z-index: 1001;
}

.toggle:hover {
    background: #ba181b;
}

.toggle img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.toggle img.active {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* --------------------- SEPARANDO EM GUIAS --------------------- */

.menu ul li a.active-tab-menu {
    background: #042e3d;
}

.tabs {
    display: none;
}

.tabs.first-tab {
    display: block;
}

/* --------------------- CONTEUDO DO INICIO --------------------- */

.content {
    margin: 0 60px;
}

.tab-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.tab-wrap .titulo {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-size: 48px;
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
}

.tab-wrap .titulo::after {
    content: '';
    display: block;
    width: 120px;
    height: 4px;
    margin: 8px auto;
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
                rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    background-size: 40vw 40vw;
    animation: slide 5s linear infinite forwards;
}

@keyframes slide {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 40vw;
    }
}

/* --------------------- CARDS --------------------- */

.tab-content {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 0;

}


.tab-content h2 {
    display: block;
    margin-left: 10%;
    font-size: 32px;
    font-family: 'Mulish', sans-serif;
    color: #ffffff;
}

.tab-content h2::after {
    content: '';
    display: block;
    margin-top: 20px;
    width: 100px;
    height: 3px;
    background: #fff;
}

.tab-content .card {
    display: flex;
    max-width: 100%;
    width: 80%;
    min-height: 223px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, .5);
    font-family: 'Mulish', sans-serif;
    background: #fff;
}

.card .preview {
    border-radius: 10px 0 0 10px;
    padding: 20px;
    width: 360px;
    text-align: center;
}

.card .preview img {
    width: 160px;
    height: 160px;
    
}

.card .info {
    padding: 20px;
}

.card .info span {
    font-size: 14px;
    color: rgb(119, 119, 119);
    text-transform: uppercase;
}

.card .info h3 {
    font-size: 32px;
    text-transform: uppercase;
    margin: 10px 0;
}

.card .info p {
    font-size: 16px;
}

.card .info a {
    display: block;
    font-size: 18px;
    padding: 10px 20px;
    background: #1a96c1;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
    float: right;
    transition: 0.5s;
    
}

.card .info a:hover {
    background: #ba181b;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .5);
}

.card .info a:after {
    content: '';
    display: table;
    clear: both;
}
















/* ----------------------- REPONSIVIDADE ---------------------- */



@media (max-width: 767px) {
    /*PARTE DO MENU*/
    .menu {
        left: -360px;
    }
    
    .menu.active {
        left: 0;
        width: 100%;
    }

    /*PARTE DOS CARDS*/
    
    .tab-content h2 {
        margin-left: 0;
        font-size: 48px;
    }

    .tab-content .card {
        display: block;
        width: 100%;
    }

    .card .preview {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }

    .card .info a {
        float: none;
        text-align: center;
        margin-left: 0;
        padding: 20px;
    }
}